<div id="<%= dom_id card %>">
  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= card.done %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= card.board_id %>
  </p>

</div>
